*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: border-box;
	font-family: Arial;
}

.navbar {
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.nav-logo {
	height: 50px;
	width: 100px;
}

.logo {
	background-image: url("/amazon_img/amazon_logo.png");
	height: 50px;
	width: 100px;
	background-size: cover;
}

.border {
	border: 2px solid transparent;
}

.border:hover {
	border: 2px solid white;
}

.nav-address {
	margin-left: 20px;
}

/** search bar **/

.nav-search {
	display: flex;
	justify-content: space-evenly;
	background-color: antiquewhite;
	width: 56%;
	height: 40px;
	border-radius: 4px;
}

.select-all {
	background-color: whitesmoke;
	width: 50px;
	padding-left: 5px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: none;
	outline: none;
}

.search-input {
	width: 100%;
	font-size: 1rem;
	border: none;
}

.search-icon {
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: rgba(233, 212, 24, 0.822);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: rgb(7, 7, 7);
	cursor: pointer;
}

span {
	font-size: 0.9rem;
}

.cart-icon i {
	font-size: 30px;
}

.all-menu {
	height: 40px;
	background-color: #222f3d;
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-evenly;
}

.menu-icon {
	font-size: 1rem;
}

.menu-panel p {
	display: inline;
	margin-left: 15px;
	text-align: center;
}

.menu-panel {
	width: 90%;
	font-size: 0.9rem;
}

/** hero section **/

.hero-section {
	position: relative;
	object-fit: cover;
	display: block;
	background-image: url("/amazon_img/Hero1.jpg");
	background-size: cover;
	height: 400px;
	width: auto;
}

/** shop section **/

.shop-section {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: azure;
}

.box {
	background-color: white;
	padding: 10px 0px 15px;
	height: 400px;
	width: 385px;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
}

.box-img {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}

.content p {
	color: rgb(32, 32, 230);
}

/** deal section **/

.deal_section {
	margin-top: 20px;
	border: 0.1rem solid black;
	background-color: rgb(248, 250, 250);
	margin-left: 25px;
	margin-right: 25px;
}

.products_container {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 2rem;
	padding-bottom: 25px;
}

h2 {
	font-family: Arial, sans-serif;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.product {
	min-width: 200px;
	background-color: white;
	padding: 10px;
	overflow: hidden;

	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
	height: 220px;
	width: 240px;
	overflow: hidden;
}

.product:hover {
	transform: scale(1.1);
}

.discount {
	color: rgb(255, 255, 255);
	background-color: #cc0c39;
	padding: 4px 6px;
}

.festivel {
	color: #cc0c39;
	font-family: Arial, sans-serif;
	font-weight: 550;
	font-size: 12px;
}

.prize {
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-weight: 550;
	font-size: 18px;
}

span.old_prize {
	text-decoration: line-through;
}

.Product_name {
	margin-top: 5px;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

/** Footer **/

.top {
	color: white;
	background-color: #1e2936;
	text-align: center;
	padding: 20px;
	font-size: 1.1rem;
	font-family: Arial, sans-serif;
}

.footerbar {
	display: flex;

	justify-content: space-evenly;

	background-color: #232f3e;
	color: white;
}

ul {
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 30px;
}

li {
	font-weight: 100;
	font-size: 0.85rem;
	line-height: 20px;
}

.footer_logo {
	height: 80px;
	background-color: #232f3e;
}

.f_logo {
	background-image: url("amazon_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 47%;
	margin-right: 49%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	height: 50px;
	width: 100px;
}

/* Responsive Design  */

/* navbar*/

@media (max-width: 1060px) {
	.navbar {
		height: 70px;
		overflow: hidden;
	}

	.nav-address {
		font-size: 0.85rem;
	}

	.nav-singin {
		font-size: 0.85rem;
		margin-left: 8px;
	}

	.order {
		font-size: 0.85;
		margin-left: 8px;
	}
}

/* all menu */

@media (max-width: 1700px) {
	.menu-panel {
		font-size: 0.8rem;
	}
}

@media (max-width: 840px) {
	.all-menu {
		height: 50px;
		overflow: scroll;
	}
	.menu-icon {
		font-size: 0.8rem;
	}

	.menu-panel {
		font-size: 0.65rem;
		margin-left: 1px;
	}
}

/* hero section */

@media (max-width: 1000px) {
	.hero-section {
		height: 250px;
	}
}

@media (max-width: 700px) {
	.hero-section {
		height: 200px;
	}
}
/* shop section */

@media (max-width: 1100px) {
	.shop-section {
		align-items: center;
	}
}

@media (max-width: 1562px) {
	h2 {
		font-size: 1rem;
	}
}

/* phone section */

@media (max-width: 1800px) {
	.products_container {
		overflow: scroll;
	}
}

@media (max-width: 450px) {
	.products_container {
		display: grid;
	}
}

/* footer bar */

@media (max-width: 1100px) {
	.footerbar {
		display: flex;
		flex-wrap: wrap;
	}

	ul {
		font-weight: 300;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	li {
		font-weight: 60;
		font-size: 0.8rem;
		line-height: 20px;
	}
}
